main {
    padding: 3%;
}

.busca {
    display: flex;
    width: 100%;
    gap: 1%;
    align-items: center;
    margin-bottom: 2%;
}

.busca input[type="search"] {
    padding: .8%;
    width: 100%;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    border-radius: 3px;
}

.busca input[type="search"]:hover {
    border-bottom-color: rgba(40, 40, 40, 0.671);    
}

.busca input[type="search"]:focus {
    border-bottom-color: #7380ec;
}

.linha {
    display: grid;
    grid-template-columns: 10% 1fr 1fr;
    padding: .8% 1%;
    background-color: #fff;
    margin-top: 5px;
    cursor: pointer;
}

.linha:hover {
    background-color: rgba(115, 128, 236, 0.8);
}

.linha:hover span {
    color: #fff;
}