* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #363949;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #f6f6f9;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
}