<app-header></app-header>

<main>
    <button class="cadastro" [routerLink]="['/listagem']">
        Cadastrar Conta Bancária
        <i class="bi bi-plus"></i>
    </button>
    <h2>Contas Cadastradas</h2>
    <span *ngIf="naoCadastrado">Não há contas cadastradas</span>
    <table *ngIf="cadastro">
        <thead>
            <tr>
                <th>Código do Banco</th>
                <th>Agência</th>
                <th>Conta</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let conta of contas, let i = index">
                <td>{{conta.code}}</td>
                <td>{{conta.agencia}}</td>
                <td>{{conta.conta}}</td>
            </tr>
        </tbody>
    </table>
</main>
