main {
    padding: 0 3%;
}

.cadastro {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: .5rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: .4s ease;
    background-color: #848bc82e;
}

.cadastro .bi-plus {
    font-size: 1.2rem;
    transition: .4s ease;
}

.cadastro:hover, .cadastro:hover .bi-plus {
    color: #7380ec;
}

h2 {
    margin: 1.9rem 0 1rem;
}

table {
    width: 100%;
    background-color: #FFF;
    padding: 1%;
    border-radius: 2rem;
}

table thead tr th {
    font-size: .85rem;
    font-weight: bold;
}

table tbody tr {
    height: 2rem;
}

table tbody tr td {
    text-align: center;
    font-size: .8rem;
    padding: .3rem;
}

table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #dbdbdb;
}